ion-header{
  position:absolute;
}
ion-content{
  --ion-background-color:transparent;
}
.background{
  background:#c2deee;
}

ion-toolbar{
  --ion-background-color:transparent;
  --opacity:0;
}
.connect-btn-wrap{
  text-align: center;
  padding-top: 20px;
  .connect-btn{
    --ion-primary-color:#bde9ec;
    --ion-background-actived:#249ea7;
    --ion-background-focused:#249ea7;
    --ion-background-hover:burlywood;
    border-radius: 25;
    --background:#c9a577;
    background-color: #bde9ec;


  }
}

ion-item{
  --highlifht-color-focused:#64789D;
  --padding-start:0;
  --inner-padding-end:0;
  --border-color:#deb887;
  font-size: 14px;
  margin-top:15px;
  ion-input{
    color: #000;
  }

  ion-icon{
    padding-left:8px;
    font-size:16px;
  }

}

ion-input:hover{
  color: #deb887;
}
.text-tag{
  margin-top:px;
  text-align: center;
  span{
    font-size:15px;
    font-weight:normal;
    color:#000;
  }
}
.contact-btn{
  text-align: center;
  margin-top:10px;
  ion-button{
    width:25px;
    padding-left:4px !important;
  }
}

